@media (min-width: 575.98px) and (max-width: 691px) {
  .brand_item_portal {
    width: 38.33%;
  }
  .brands_list_portal_text {
    display: none;
  }
  .brands_list_portal {
    justify-content: center;
  }
}

@media (max-width: 575.98px) {
  .second-heading {
    font-size: 22px;
  }
  .heading {
    font-size: 22px;
  }
  .common {
    font-size: 16px;
  }
  .brand_item {
    width: 36.33%;
  }
  .unifiers-work-partner-subheading {
    font-size: 12px;
  }
  .common-sub-heading {
    font-size: 21px;
  }
  .common-para {
    font-size: 12px;
  }
  .skilling-heading {
    font-size: 20px;
  }
  .brand_item_portal {
    width: 38.33%;
  }
  .hero-carousal {
    width: 100%;
  }
  .brands_list_portal_text {
    display: none;
  }
  .brands_list {
    justify-content: center;
  }
  .brands_list_portal {
    justify-content: center;
  }
}
/* @media (min-width: 768px) {
  .hero-carousal {
    width: 100%;
  }
} */
@media (max-width: 1199.98px) {
  .hero-section-text {
    font-size: 52px;
  }
}

@media (min-width: 1200px) and (max-width: 1463px) {
  .brand_item_portal {
    width: 21.33%;
  }
  .brand_item_portal_text {
    width: 18.33%;
  }
}

@media (min-width: 375px) and (max-width: 1570px) {
  .custom-container-navbar {
    padding: 0px 10px;
  }
  .custom-container {
    padding: 0px 10px;
  }
}

@media (min-width: 625px) and (max-width: 965px) {
  .hero-section-text {
    font-size: 40px;
  }
  .hero-carousal {
    width: 80%;
  }
}

@media (min-width: 200px) and (max-width: 624px) {
  .hero-section-text {
    font-size: 21px;
  }
}

@media (min-width: 200px) and (max-width: 965px) {
  .btn-common {
    padding: 17px 38px;
  }
  .our-numbers-heading {
    font-size: 20px;
    line-height: 40px;
    padding: 0px;
  }
  .our-numbers {
    font-size: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1282px) {
  .our-numbers {
    font-size: 53px;
  }
}
