@media (max-width: 575.98px) {
  .footer-col-first {
    font-size: 12px;
  }
  .unifiers-work-partner-subheading {
    font-size: 12px;
  }
  .common-sub-heading {
    font-size: 21px;
  }
  .common-para {
    font-size: 12px;
  }
  .skilling-heading {
    font-size: 20px;
  }
}
@media (max-width: 1199.98px) {
  .hero-section-text {
    font-size: 52px;
  }
}

@media (min-width: 375px) and (max-width: 1570px) {
  .custom-container-navbar {
    padding: 0px 10px;
  }
  .custom-container {
    padding: 0px 10px;
  }
}

@media (min-width: 625px) and (max-width: 965px) {
  .hero-section-text {
    font-size: 50px;
  }
}

@media (min-width: 200px) and (max-width: 624px) {
  .hero-section-text {
    font-size: 21px;
  }
}

@media (min-width: 200px) and (max-width: 965px) {
  .btn-common {
    padding: 17px 38px;
  }
  .our-numbers-heading {
    font-size: 20px;
    line-height: 40px;
    padding: 0px;
  }
  .our-numbers {
    font-size: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1282px) {
  .our-numbers {
    font-size: 53px;
  }
}
